[submodule "airdrop"]
	path = airdrop
	url = https://github.com/amxrac/airdrop
[submodule "airdrop2"]
	path = airdrop2
	url = https://github.com/amxrac/airdrop2
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/amxrac/solana-starter
[submodule "anchor-escrow-starter-q4-25"]
	path = anchor-escrow-starter-q4-25
	url = https://github.com/amxrac/anchor-escrow-starter-q4-25/
[submodule "anchor-vault-starter-q4-25"]
	path = anchor-vault-starter-q4-25
	url = https://github.com/amxrac/anchor-vault-starter-q4-25
[submodule "anchor-amm-starter-q4-25"]
	path = anchor-amm-starter-q4-25
	url = https://github.com/amxrac/anchor-amm-starter-q4-25
